@import "tailwindcss";

.scrolling-text {
  overflow: hidden;
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  background: #000;
}
.scrolling-text .rail h4 {
  white-space: nowrap;
  font-size: 5rem;
  font-weight: 900;
  margin: 0 40px 0 0;
  color: #fff;
}

