@import "tailwindcss";
@font-face {
  font-family: 'ClashDisplay';
  src: url('/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

html, body {
  font-family: 'ClashDisplay', sans-serif;
}

